.cpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

    background-image: url("../../assets//poddu2.jpg");
    background-size: 100vw 100%;
    /* padding-top: 50px; */
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100%;
}

.forma {
    /* flex: 1.5; */
}

.emaily {
    object-fit: contain;
    margin-top: 100px;
    border-top-right-radius: 40px;
}

.flex22 {
    flex: 0.5;
    text-align: center;
}

.marginn {
    margin-left: 30%;
}

@media only screen and (max-width: 600px) {
    .cpage {
        background-image: none;
        flex-direction: column;
        transform: scale(0.9);

    }

    .forma {
        /* flex: 1.5; */
        transform: scale(0.89);
        margin-bottom: 40px;
    }

    .emaily {
        display: none;
    }

    .flex22 {
        flex: 2;
        text-align: center;

    }

    .marginn {
        margin-left: 30%;
    }
}