.skills {
  background-image: url("../../assets/bgg1.png");
  background-size: 100vw 100vh;
  /* background-color: red; */
  margin-top: 100px;
  display: flex;
  padding: 60px 50px;
  align-items: center;
}

.icons_flex {
  justify-content: center;
  display: flex;
  padding: 100px;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: rgb(139, 139, 139);
  text-align: left;
  font-size: 17px;
  line-height: 35px;
}

.head {
  font-family: "Ruge Boogie", cursive;
  font-weight: 100;
  color: rgb(56, 56, 56);
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .skills {
    margin-top: 0px;
    background-image: url("../../assets/bgg1.png");
    background-size: 850px 400px;
    /* transform: scale(0.9); */
    flex-direction: column;
    padding: 10px 10px;
  }

  .icons_flex {
    padding: 10px;
    font-size: 15px;
  }

  .head {}

  .code_img {
    transform: scale(0.5);
  }
}